.footer {
  color: #3a3b3c;
  background-color: #fafafa;
  background-size: contain;
}

.maincontainer {
  width: 100%;
  padding: 10px 50px 10px 50px;
  font-size: 20px;
}

.grid_container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "contain1 contain2 contain3";
  background-color: #fafafa;
  padding: 10px;
}
.grid_item_first {
  grid-area: contain1;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.grid_item_middle {
  grid-area: contain2;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
}
.grid_item_last {
  grid-area: contain3;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.button {
  border: none;
  color: #3a3b3c;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fafafa;
  color: #3a3b3c;
  border: 2px solid #3a3b3c;
}

.button:hover {
  background-color: #3a3b3c;
  color: #fafafa;
}
.footerlinks {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  font-weight: 700;
  color: #606366;
  transition-duration: 0.2s;
}
.footerlinks:hover {
  color: #3a3b3c;
  font-weight: 900;
}
.heading_four {
  padding: 10px 10px 10px 10px;
  margin: 1px 1px 1px 1px;
  width: 400px;
  height: auto;
}
.socialcontainer {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 10px;
  align-items: flex-end;
}
.img1 {
  opacity: 1;
  padding: 0px 0px 10px 10px;
}
.img2 {
  opacity: 0.6;
  padding: 0px 0px 10px 10px;
}

@media only screen and (max-width: 900px) {
  .grid_container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "contain1"
      "contain2"
      "contain3";
  }
  .footerlinks {
    font-size: 15px;
  }
  .grid_item_middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
  }
  .grid_item_first {
    justify-content: center;
    align-items: center;
  }
  .grid_item_last {
    justify-content: center;
    align-items: center;
  }
  .heading_four {
    text-align: center;
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .grid_container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "contain1"
      "contain2"
      "contain3";
  }
}
@media only screen and (max-width: 300px) {
  .maincontainer {
    padding: 0px 0px 0px 0px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  .heading_four {
    padding: 10px 10px 10px 10px;
    margin: 1px 1px 1px 1px;
    width: auto;
    height: auto;
  }
}
