.main_formcontainer {
  margin: 50px 0px 50px 0px;
  z-index: 100;
  background-color: #fafafa;
  border-radius: 60px;
}

.form_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form_itemcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
.form_label {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.form_item {
  width: 180px;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  color: black;
  background-color: rgba(0, 0, 0, 0);
}
.form_button {
  width: 100%;
  height: 70px;
  padding: 12px 20px;
  margin: 16px 0px 0px 0px;
  border: 1px solid #ccc;
  color: white;
  border-radius: 60px;
  background-color: rgba(23, 163, 65, 0.9);
  transition: 0.5s;
}
.form_button:hover {
  background-color: rgb(9, 87, 32);
  color: white;
}
.form_option {
  color: black;
}

@media (max-width: 900px) {
  .form_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .form_button {
    width: 100%;
    height: 70px;
    padding: 12px 20px;
    margin: 0px 0px 16px 0px;
    border: 1px solid #ccc;
    color: white;
    border-radius: 20px;
    background-color: rgba(23, 163, 65, 0.9);
    transition: 0.5s;
  }

  .form_itemcontainer {
    display: flex;
    flex-direction: column;

    justify-content: stretch;
    margin: 5px 5px 5px 5px;
  }

  .main_formcontainer {
    margin: auto;
    margin-bottom: 50px;
    width: fit-content;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
  }

  .form_item {
    width: 200px;
    font-size: 12px;
  }
}
