@font-face {
  font-family: "calibiri";
  src: url(../public/fonts/calibri/Calibri\ Regular.ttf);
}
.body {
  font-family: calibiri;
}
.icongallery_section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.05);
}
.icongallery_heading {
  align-self: center;
  font-size: 50px;
}
