@font-face {
  font-family: "calibiri";
  src: url(../public/fonts/calibri/Calibri\ Regular.ttf);
}

.main_section {
  font-family: calibiri;
  background-image: url("../public/carouselphotos/photo\ 9.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
}

.span {
  color: red;
}

.main_page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.form_text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3a3b3c;
  border-radius: 20px;
  box-sizing: border-box;
}
.form_textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3a3b3c;
  border-radius: 10px;
  box-sizing: border-box;
}

.button {
  width: 150px;
  position: relative;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
.button:active {
  background-color: #45a049;
}
.buttonLoader .button_text {
  visibility: hidden;
  opacity: 0;
  font-size: 20px;
}
.buttonLoader::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;

  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.main_container {
  border-radius: 5px;
  width: 100%;
  padding: 50px;
}
.socials_container {
  width: 100%;

  padding: 50px;
}
.Heading {
  font-size: 40px;
}
.link_object {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.subheading {
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}
.social_media {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1200px) {
  .main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main_section {
    font-size: 15px;
  }
}
