@font-face {
  font-family: "calibiri";
  src: url(../public/fonts/calibri/Calibri\ Regular.ttf);
}
@font-face {
  font-family: "jakarta";
  src: url(../public/fonts/PlusJakartaDisplay-Medium.otf);
}

.poi_main {
  width: 100%;
}

.small_reminder {
  font-size: 10px;
  font-style: italic;
  margin: 10px 0px 10px 0px;
}
.infobox {
  display: flex;
  flex-direction: row;
}
.room_imgcontainer {
  grid-area: contain1;
  border-radius: 0px 20px;
}
.stats {
  align-self: left;
  color: #3a3b3c;
}
.spantext {
  font-weight: 700;
  font-size: 15px;
  color: #3a3b3c;
}
.galleryCTA {
  width: 250px;
  height: 50px;
  font-size: 20px;
  background-color: rgba(23, 163, 65, 0.9);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.galleryCTA:hover {
  background-color: rgb(9, 87, 32);
}
.room_container {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 30vw 58vw;
  grid-template-rows: auto;
  grid-template-areas: "contain1 contain2 ";
  border-radius: 20px;
  margin: 50px 50px 50px 50px;
  padding: 30px;
  box-shadow: 3px 3px 15px 3px rgba(211, 190, 190, 0.6);
}
.room_info {
  grid-area: contain2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 50px;
  color: #3a3b3c;
}
.room_paragraph {
  font-family: "calibiri";
  align-self: center;
  font-size: 20px;
}
.room_heading {
  font-family: "calibiri";
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px 0px 15px 0px;
  font-size: 50px;
  font-weight: bold;
}
.stats {
  font-size: 15px;
}
.statsbox {
  border: 0.01px solid rgba(211, 190, 190, 0.7);
  box-shadow: 0.01px 0.01px 0.01px 0.01px rgba(211, 190, 190, 0.6);

  border-radius: 20px;
  padding: 15px;
  margin-top: 10px;
  text-align: justify;
}
.displayoff {
  display: none;
}
.displayon {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 50px 0px 50px 0px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}
.alertdisplay {
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  z-index: 90000;
  border-radius: 15px;
  width: 400px;
  height: 400px;
}
.closebutton {
  position: absolute;
  background-color: rgba(23, 163, 65, 0.9);
  top: 10;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.closebutton:hover {
  background-color: rgb(9, 87, 32);
}
.contents {
  font-size: 17px;
  position: absolute;
  top: 25%;
  width: 100%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social_media {
  position: absolute;
  top: 80%;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contactbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  padding: 5px;
  width: 300px;
  margin: 10px 0px 10px 0px;
  border: 2px solid rgba(0, 0, 0, 0.01);
  background-color: rgba(23, 163, 65, 0.9);
  color: white;
  border-radius: 10px;
}
.contacttext {
  color: grey;
  font-size: 30px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  width: 100%;
  text-align: center;
}
.centralise {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1300px) {
  .room_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 10px;
  }
  .room_paragraph {
    font-family: "calibiri";
    align-self: center;
    font-size: 15px;
    text-align: justify;
    text-align-last: center;
  }
  .infobox {
    display: flex;
    flex-direction: column;
  }
  .room_info {
    text-align: center;
    padding-left: 0px;
  }
  .room_heading {
    justify-content: center;
    font-size: 30px;
  }
  .galleryCTA {
    width: 100%;
    font-size: 13px;
  }
  .statsbox {
    text-align: justify;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align-last: center;
  }
}
@media only screen and (max-width: 600px) {
  .statsbox {
    text-align: justify;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .displayon {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 50px 0px 50px 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .alertdisplay {
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    z-index: 90000;

    width: 250px;
    height: 400px;
  }
  .closebutton {
    position: absolute;
    background-color: rgba(23, 163, 65, 0.9);
    top: 10;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .contactbox {
    display: flex;
    font-size: 15px;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    padding: 5px;
    width: 210px;
    margin: 10px 0px 10px 0px;
    border: 2px solid rgba(0, 0, 0, 0.01);
    background-color: rgba(23, 163, 65, 0.9);
    color: white;
    border-radius: 10px;
  }
  .contacttext {
    color: grey;
    font-size: 20px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    width: 100%;
    text-align: center;
  }
  .social_media {
    position: absolute;
    top: 80%;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
