@font-face {
  font-family: "debby";
  src: url(../public/fonts/sans/static/WorkSans-Bold.ttf);
}
@font-face {
  font-family: "jakarta";
  src: url(../public/fonts/PlusJakartaDisplay-Medium.otf);
}

.poi_main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: #3a3b3c;
}
.POI_imgcontainer {
  border-radius: 0px 20px;
}

.POI_container {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  margin: 50px 50px 50px 50px;
  box-shadow: 3px 3px 15px 3px rgba(211, 190, 190, 0.6);
}
.POI_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}
.POI_paragraph {
  font-family: jakarta;
  align-self: center;
  font-size: 15px;
  color: #3a3b3c;
}
.POI_heading {
  font-family: debby;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px;
  font-size: 50px;
  font-weight: bold;
  color: #3a3b3c;
}

.POI_misc {
  font-family: jakarta;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #3a3b3c;
}
@media only screen and (max-width: 1200px) {
  .POI_container {
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    margin: 50px 10px 50px 10px;
    box-shadow: 3px 3px 15px 3px rgba(211, 190, 190, 0.6);
  }

  .POI_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-bottom: 30px;
    padding: 30px;
  }
  .POI_paragraph {
    font-family: jakarta;
    align-self: center;
    font-size: 15px;
    text-align: center;
  }
  .POI_heading {
    font-family: debby;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    font-size: 30px;
    font-weight: bold;
  }

  .POI_misc {
    align-items: center;
  }
}
