@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@font-face {
  font-family: "calibiri";
  src: url(../public/fonts/calibri/Calibri\ Regular.ttf);
}
@font-face {
  font-family: "jakarta";
  src: url(../public/fonts/PlusJakartaText-Light.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "calibiri";

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* this block define the gallery image carousel in the home page*/
.slides {
  position: relative;
}
.arrow_prev,
.arrow_next {
  color: rgba(255, 255, 255, 0.7);
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  z-index: 10;
  transition-duration: 0.5s;
}
.arrow_next:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}
.arrow_prev:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}
.arrow_next {
  top: 50%;
  right: 10%;
}

.arrow_prev {
  top: 50%;
  left: 10%;
}

.carouselimagecontainer {
  border-radius: 0px 20px 0px 20px;
}
@media only screen and (max-width: 900px) {
  .arrow_prev,
  .arrow_next {
    display: none;
  }
}

/* css of gallery carousal ends here*/
/*hero*/

.arrow_prev_hero,
.arrow_next_hero {
  display: none;
}

/* css of hero ends here*/
