/*dont change this CSS go further down */

@font-face {
  font-family: "calibiri";
  src: url(../public/fonts/calibri/Calibri\ Regular.ttf);
}
@font-face {
  font-family: "jakarta";
  src: url(../public/fonts/PlusJakartaDisplay-Medium.otf);
}

/* non default index CSS start here you can change below*/

.section_container {
  background-image: url("../public/carouselphotos/photo\ 11.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
.bolder {
  font-weight: 700;
}

.grid_container {
  display: grid;
  grid-template-columns: 500px 800px;
  grid-template-rows: auto;
  grid-template-areas: "contain1 contain2";

  padding: 10px 0px 10px 0px;
}
.grid_item1 {
  grid-area: contain1;
  font-size: 10px;
  text-align: center;
}
.grid_item2 {
  grid-area: contain2;
  padding: 30px;
  font-size: 50px;
  color: rgba(53, 53, 53, 0.9);
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gallerytext {
  padding: 20px 0px 20px 0px;
  font-size: 20px;
}

.alignment_container {
  margin: 0px 50px 0px 50px;
  padding: 50px 0px 50px 0px;
}
.paragraphCTA {
  font-size: 20px;
}
.galleryCTA {
  width: 200px;
  height: 70px;
  font-size: 20px;
  background-color: rgba(23, 163, 65, 0.9);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.galleryCTA:hover {
  background-color: rgb(9, 87, 32);
}

@media only screen and (max-width: 1100px) {
  .grid_container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "contain1"
      "contain2";
  }

  .grid_item2 {
    font-size: 30px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "calibiri" !important;
  }
  .gallerytext {
    padding: 20px 20px 20px 20px;
  }
}

@media only screen and (max-width: 400px) {
  .grid_item2 {
    align-self: center;
    grid-area: contain2;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "calibiri" !important;
  }
  .galleryCTA {
    width: 180px;
    font-size: 15px;
  }
  .paragraphCTA {
    font-size: 15px;
  }
  .gallerytext {
    padding: 10px 0px 10px 0px;
    font-size: 15px;
  }
}

/* FAQ accordion section */

.accordion_container {
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  width: 70%;
  padding: 0px 0px 50px 0px;
  margin: 50px 50px 50px 50px;
  box-shadow: 1px 1px 15px 1px rgba(211, 190, 190, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
}

.FAQ_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/carouselphotos/photo\ 9.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.faq_heading {
  font-size: 50px;
  padding: 20px;
  align-self: center;
  color: rgba(53, 53, 53, 0.9);
}

@media only screen and (max-width: 1200px) {
  .faq_heading {
    font-size: 30px;
    text-align: center;
  }

  .accordion_container {
    margin: 50px 0px 50px 0px;
  }

  .FAQ_section {
    background-image: url("../public/carouselphotos/photo\ 9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 700px) {
  .accordion_container {
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    width: 100%;
    font-size: 30;
    padding: 0px 0px 50px 0px;
    margin: 50px 0px 50px 0px;
    box-shadow: 1px 1px 15px 1px rgba(211, 190, 190, 0.3);
  }
}
/* FAQ accordion section ends here */

/* imagegallery */

.imagegallery_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*pricecard*/
.pricecard_section {
  background-image: url("../public/carouselphotos/photo\ 8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 800px) {
  .pricecard_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1200px) {
  .pricecard_section {
    background-image: url("../public/carouselphotos/photo\ 8.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* collage section*/
.collage_sect {
  background-image: url("../public/carouselphotos/photo\ 8.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.collage_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
  padding: 50px 0px 50px 0px;
}
.collage_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  padding: 0px 0px 0px 15px;
  color: rgba(53, 53, 53, 0.9);
}
@media only screen and (max-width: 1200px) {
  .collage_section {
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 50px 100px 50px 100px;
    align-items: center;
  }
  .collage_text {
    padding: 0px 0px 0px 0px;
  }
  .collage_text {
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  .collage_sect {
    background-image: url("../public/carouselphotos/photo\ 8.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .para {
    text-align: justify;
  }
}
@media only screen and (max-width: 1100px) {
  .collage_section {
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 50px 150px 50px 150px;
    align-items: center;
  }
  .collage_text {
    margin: 15px 20px 15px 20px;
    text-align: center;
    font-size: 30px;
  }
  .para {
    text-align: justify;
  }
}
@media only screen and (max-width: 400px) {
  .collage_section {
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    align-items: center;
  }
  .collage_text {
    margin: 15px 20px 15px 20px;
    text-align: center;
    font-size: 30px;
  }
  .para {
    text-align: justify;
  }
}
